!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShareSpace
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    -# = javascript_pack_tag 'aplication', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    .header
      .left-header
        = link_to "/posts", class: "title" do
          ShareSpace
      .right-header
        - if user_signed_in?
          .register
            = link_to "/users/:id/edit", class: "user-btn" do
              = current_user.name
          .register
            = link_to "/users/#{current_user.id}", class: "user-btn" do
              マイページ
          .login
            = link_to "/posts/new", class: "login-btn" do
              投稿
        - else
          .register
            = link_to "/users/sign_up", class: "user-btn" do
              Sign up
          .login
            = link_to " /users/sign_in", class: "login-btn" do
              Login
    .top-image
      %p.top-text
        Welcome to ShareSpace
      .top-text-2
        エンジニアリングに関する知識を投稿してアウトプットしよう
    = yield
    .footer
      .footer-text
        ShareSpace